
html {
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }
  b {
	font-weight: bold;
  }
  body {
	width: 700px;
	margin: 0 auto;
	background: linear-gradient(90deg, rgba(9,7,43,1) 0%, rgba(66,66,152,1) 49%, rgba(64,173,221,1) 100%);
	font-family: 'Source Sans Pro', sans-serif;
  }
  .container {
	margin: 2% auto;
	padding: 15px;
	background-color: #2a2b2980;
	filter:contrast(200%);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  h1 {
		font-size: 72px;
		background: -webkit-linear-gradient(rgb(83, 97, 99), rgb(73, 180, 175));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
  }
  textarea {
	width: 100%;
	height: 250px;
	padding: 10px;
	border: 1px solid #eeebeb;
	outline: none;
	font-size: 1rem;
	resize: none;
	line-height: 1.5rem;
	background-color: darkgray;
  }
  textarea:hover {
	border-color: #C0C0C0;
  }
  textarea:focus {
	border-color: #4D90FE;
  }
  .output.row {
	width: 100%;
	border: 1px solid #DDD;
	font-size: 1.4rem;
	margin: 1% 0;
	background-color: #F9F9F9;
  }
  
  .output.row div {
	display: inline-block;
	width: 42%;
	padding: 10px 15px;
	margin: 1%;
  }
  
  .output.row span {
	font-weight: bold;
	font-size: 1.5rem;
  }
  
  .keywords {
	display: none;
	margin: 4% 0 0;
	font-size: 2rem;
	font-weight: 900;
	color: darkcyan;
  }
  
  .keywords ul {
	font-weight: 400;
	border: 1px solid #DDD;
	font-size: 1.4rem;
	background-color: #F9F9F9;
	margin: 2% 0;
  }
  
  .keywords li {
	display: inline-block;
	width: 44%;
	padding: 10px;
	margin: 1%;
  }
  
  @media (max-width: 750px) {
	body {
	  width: 600px;
	}
	.output.row {
	  font-size: 1.2rem;
	}
	.output.row span {
	  font-size: 1.3rem;
	}
	.keywords ul {
	  font-size: 1.2rem;
	}
  }
  
  @media (max-width: 600px) {
	body {
	  width: 95%;
	}
	.output.row {
	  border: none;
	  background-color: #FFF;
	}
	.output.row div {
	  display: inline-block;
	  width: 100%;
	  padding: 10px 15px;
	  margin: 2% auto;
	  border: 1px solid #DDD;
	  font-size: 1.8rem;
	  background-color: #F9F9F9;
	}
	.output.row span {
	  font-size: 2rem;
	}
	.keywords {
	  margin: 10% auto;
	}
	.keywords ul {
	  font-weight: 400;
	  border: none;
	  font-size: 1.8rem;
	  background-color: #F9F9F9;
	  margin: 5% 0;
	}
	.keywords li {
	  display: block;
	  width: 100%;
	  padding: 10px;
	  margin: 2% auto;
	  border: 1px solid #DDD;
	}
  }
  .animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
